# ignore python files
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.cache
**/cache

# ignore spyder stuff
**/.spyproject

# ignore git file
.git

# ignore to_delete folder
**/to_delete

# ignore scratch folder
**/scratch