# spyder files
.spyproject/

# vs code project files
.vscode/

# r cache
*_cache/

# python cache
/cache
/code/__pycache__
__pycache__

# ignore data folders (for now)
# /data
/data/scratch
/data/spatial/cdl
/data/spatial/ecoregions
/data/spatial/landcover
/data/spatial/nass
/data/spatial/nhdplusv2
/data/spatial/prism
/data/spatial/soils
/data/README_template.md

# ignore to_delete folder
/to_delete