# spyder files
.spyproject/

# vs code project files
.vscode/

# r cache
*_cache/

# python cache
/cache
/code/__pycache__
__pycache__

# ignore data folders (for now)
# /data
/data/scratch
/data/cdl
/data/ecoregions
/data/landcover
/data/nass
/data/nhdplusv2
/data/prism
/data/soils
/data/README_template.md

# ignore to_delete folder
/to_delete